{% extends "Portfolio/base.html" %}

{% block content %}

<form method="post" class="row d-flex justify-content-center" id="generator" style="margin-top:125px;">
    {% csrf_token %}
    <div class="container-fluid text-center">
        <div class="row justify-content-md-center">
            <div class="col-sm-4">
                <input class="form-check-input" type="hidden" name="letters" value="True">
                <input class="form-check-input" type="checkbox" name="letters" id="flexRadioDefault2" checked disabled>
            <label class="form-check-label" for="flexRadioDefault2">
            Avec des lettres (abcdefgh)
            </label>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-sm-4">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault1" name="digits">
            <label class="form-check-label" for="flexCheckDefault1">
              Avec des chiffres(0123456789)
            </label>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-sm-4">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault2" name="symbols">
            <label class="form-check-label" for="flexCheckDefault2">
            Avec des symboles(!%/?@'\)
            </label>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-sm-4">
            <label for="Taille" class="form-label">Taille du mot de passe</label>
            <input type="range" class="form-range" name="taille" min="1" max="128" step="1" id="Taille" oninput="this.nextElementSibling.value = this.value + ' caractère(s) '">
            <output></output>
            </div>
        </div>

        <div class="container-fluid text-center">
            <button type="submit" class="btn btn-primary">Générer le mot de passe</button>
        </div>
    </div>
</form>

<div class="form-group" >
    <div class="row justify-content-md-center pt-2">
        <div class="col-sm-6">
            <input class="form-control" type="text" value="{%  if condition %}{{ condition }}{% endif %}" style="background-color:white">
        </div>
    </div>
</div>
{% endblock content %}
