{% extends "Portfolio/base.html" %}
{% load static %}

{% block title %}
    <title>Patignier Thomas</title>
{% endblock %}


{% block content %}

<div class="container-fluid text-center" id="Accueil">
  <div class="row">
    <div class="col">
        <h1 style="color: white">Patignier Thomas</h1>
        <h2 style="color: white">Developeur Back end Junior</h2>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="global">
    <div class="row pt-5 justify-content-md-center" id="A_propos">
        <div class="col-sm-10">
            <h1 style="color: black;margin-bottom:75px;">A propos de moi</h1>
            <h2 style="color: black;margin-bottom:50px;">Je suis un passionné des technologies liées à l'informatique depuis toujours et j'ai décidé de me lancer dans le développement pour assouvir ma soif de connaissance. J'ai donc commencé à écrire mes premières lignes de code en décembre 2022 en autodidacte, et continue depuis à appronfondir mon savoir, à travers différents projets. </h2>
        </div>
    </div>

    <div class="row pt-5 pd-1" id="Projet">
        <div class="col">
            <h1 style="color: black">Mes Projets Personnels</h1>
<!--            <h2 style="color: black">Projets Web</h2>-->
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
<!--                    Title here-->
                    <p class="card-text"><a href="{% url 'index' %}"><h5 class="card-title">Ce Portfolio, évidement!</h5></a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
<!--                    Title here-->
                    <p class="card-text"><a href="{% url 'Generator' %}"><h5 class="card-title">Un générateur de mot de passe</h5></a></p>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center pt-5">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
    <!--                    Title here-->
                        <p class="card-text"><a href="https://github.com/PatignierThomas/discordbot"><h5 class="card-title">Un bot discord chatGPT</h5></a></p>
                    </div>
                </div>
            </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
<!--                    Title here-->
                    <p class="card-text"><a href="{% url 'myblog:blog' %}"><h5 class="card-title">Le CRUD d'un blog et sa gestion en base de données(POSTGRESQL)</h5></a></p>
                </div>
            </div>
        </div>
        </div>
    </div>

<!--    <div class="row pt-5">-->
<!--        <div class="col">-->
<!--            <h2 style="color: black">Projets DataScience</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row justify-content-center">-->
<!--        <div class="col-sm-4 mb-3 mb-sm-0">-->
<!--            <div class="card text-bg-dark">-->
<!--                {% load static %} <img src="{% static 'css/Film_by_country.png'%}" class="card-img-top" alt="graph1">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title"></h5>-->
<!--                    <p class="card-text">Nombre de films et séries sortis sur Netflix en fonction du pays d'origine</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-sm-4">-->
<!--            <div class="card text-bg-dark">-->
<!--                {% load static %} <img src="{% static 'css/Release_per_year.png'%}" class="img-fluid" alt="graph2">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title"></h5>-->
<!--                    <p class="card-text">Nombre de films et séries sortis sur Netflix par année</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="row pt-5" id="Competence">
        <div class="col">
            <h1 style="color: black">Mes Compétences & Soft Skills</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% load static %} <img src="{% static 'css/PlotlangageV2.png'%}" class="img-fluid" alt="graph1">
        </div>
        <div class="col">
            {% load static %} <img src="{% static 'css/softskills.png'%}" class="img-fluid" alt="graph2">
        </div>
    </div>

    <div class="row pt-5">
        <div class="col">
            <h2 style="color: black">Technologies utilisées</h2>
        </div>
    </div>

    <div class="row justify-content-md-center pt-3" style="margin-bottom:20px;">
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/html5-original.svg'%}" class="img-fluid" alt="icon1" width="100" height="100">
                <h6>HTML5</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/css3-original.svg'%}" class="img-fluid" alt="icon2" width="100" height="100">
                <h6>CSS3</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/python-original.svg'%}" class="img-fluid" alt="icon3" width="100" height="100">
                <h6>Python</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/django-plain-wordmark.svg'%}" class="img-fluid" alt="icon4" width="100" height="100">
                <h6>Django</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/bootstrap-original.svg'%}" class="img-fluid" alt="icon5" width="100" height="100">
                <h6>Bootstrap</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/nginx-logo.svg'%}" class="img-fluid" alt="icon5" width="100" height="100">
                <h6>Nginx</h6>
            </div>
            <div class="col-md-1">
                {% load static %} <img src="{% static 'css/postgresql-icon.svg'%}" class="img-fluid" alt="icon5" width="100" height="100">
                <h6>PostgreSQL</h6>
            </div>
        </div>

    </div>

<div class="container-fluid text-center" id="Contact">
    <div class="row pt-5">
        <div class="col">
            <h1 style="color: black">Me contacter</h1>
        </div>
    </div>

    <form name="Contact" method="POST" class="row d-flex justify-content-center" action="#Contact">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-sm-5">
                <label for="exampleFormControlInput1" class="col-sm- col-form-label"></label>
                <div>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Adresse mail" name="email_from">
                    {%  if erreur.email_from %}
                    {{ erreur.email_from }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-5">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <div>
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="1" placeholder="Sujet" name="subject"></textarea>
                    {%  if erreur.subject %}
                    {{ erreur.subject }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-5">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message" name="message"></textarea>
                    {%  if erreur.message %}
                    {{ erreur.message }}
                    {% endif %}
                </div>
            </div>
        </div>
            <!-- </div>
             <div class="col-sm-7">
                 <label for="formFile" class="form-label"></label>
                 <div>
                     <input class="form-control" type="file" id="formFile">
                 </div>
             </div>-->
        <div class="row justify-content-md-center">
            <div class="col-sm-7">
                <div class="pt-2">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {% if messages %}
                    {% for message in messages %}
                    <script>alert('{{ message }}')</script>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

